.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: cyan;
    margin-top: 47px;
    margin-right: 40px;
    margin-left: 50px;
}

.name-description-container{
    background-color: red;
}

.info-container{
    background-color: purple;
}