<div id="gray_screen" *ngIf="this.error"></div>

<div id="registration">
   <div class="form-row">
     <div class="form-group col-md-7">
       <label for="inputName">Nome do Restaurante</label>
       <input [(ngModel)]="restaurante.nome_restaurante" [disabled]="this.error" type="text" class="form-control" id="inputName" placeholder="Nome" required>
     </div>
     <div class="form-group col-md-4">
       <label for="cnpj-input">CNPJ</label>
       <input [ngModel]="restaurante.cnpj" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cnpj, 18)" (ngModelChange) = "formatCNPJ($event)" [disabled]="this.error" type="text" class="form-control" id="cnpj-input" placeholder="CNPJ" required>
     </div>
   </div>

   <div class="form-row">
     <div class="form-group col-md-5">
       <label for="inputAddress">Rua</label>
       <input [(ngModel)]="restaurante.rua" [disabled]="this.error" type="text" class="form-control" id="inputAddress" placeholder="Rua" required>
     </div>
     <div class="form-group col-md-1">
       <label for="inputNumber">Número</label>
       <input [(ngModel)]="restaurante.numero" (keypress) = "onlyNumbersKeyPress($event)" [disabled]="this.error" type="number" class="form-control" id="inputNumber" placeholder="Num" required>
     </div>
     <div class="form-group col-md-4">
       <label for="inputCity">Cidade</label>
       <input [(ngModel)]="restaurante.cidade" [disabled]="this.error" type="text" class="form-control" id="inputCity" placeholder="Cidade" required>
     </div>
   </div>
   <div class="form-row">
     <div class="form-group col-md-7">
       <label for="inputComplement">Complemento</label>
       <input [(ngModel)]="restaurante.complemento" [disabled]="this.error" type="text" class="form-control" id="inputComplement" placeholder="Complemento" required>
     </div>
     <div class="form-group col-md-4">
       <label for="inputCEP">CEP</label>
       <input [ngModel]="restaurante.cep" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cep, 9)" (ngModelChange) = "formatCEP($event)" [disabled]="this.error" type="text" class="form-control" id="cep-input" placeholder="CEP" required>
     </div>
   </div>

   <div class="buttons-wrapper" *ngIf="editMode">
     <button type="button" (click)="setEditMode(false)" class="btn btn-secondary">Cancelar</button>
     <button type="submit" class="btn btn-primary">Salvar</button>
   </div>

   <div class="form-row col-md-6">
     <div class="form-group col-md-5">
       <label for="inputStartTime">Horário de início</label>
       <input onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_inicio" [disabled]="this.error" type="time" class="form-control" id="inputStartTime" placeholder="19:00h" required>
     </div>
     <div class="form-group col-md-5">
       <label for="inputEndtTime">Horário de fim</label>
       <input type="time" class="form-control" id="inputEndtTime" placeholder="19:00h" onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_fim" [disabled]="this.error" required>
     </div>
   </div>

   <hr>
   
   <div class="form-row">
      <div class="form-group col-md-7">
        <label for="inputName">Nome do Responsável</label>
        <input id="nome_responsavel-input" name="Nome do Responsável" [(ngModel)]="restaurante.nome_responsavel" [disabled]="this.error" type="text" class="form-control" placeholder="Nome do Responsável" required>
      </div>
      <div class="form-group col-md-4">
        <label for="cnpj-input">Telefone do Responsável</label>
        <input id="telefone_responsavel-input" name="Telefone do Responsável" [ngModel]="restaurante.telefone_responsavel" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.telefone_responsavel, 15)" (ngModelChange) = "formatTel($event)" [disabled]="this.error" type="text" class="form-control"placeholder="Telefone" required>
      </div>
   </div>
   <div class="form-row">
      <div class="form-group col-md-7">
        <label for="inputName">Email pra contato</label>
        <input id="email-input" type = "email" name="Email para Contato" [(ngModel)]="restaurante.email" [disabled]="this.error" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group col-md-4">
        <label for="cnpj-input">Senha</label>
        <input id="senha-input" type="password" name="Senha" [(ngModel)]="restaurante.senha" [disabled]="this.error" class="form-control" placeholder="***" required>
      </div>
   </div>

   <button type="button" class="btn btn-primary" (click)="createRestaurante(restaurante)" [disabled]="this.error">Adicionar</button>
 </div>


<script>document.write(restaurante)</script>

<div class="popup" *ngIf='this.error'>
   <div class = "default_error" *ngIf = 'this.error.status != 401'>
      <div class = "error_text">{{this.error.message}}</div>
      <button class="back_button" (click) = "resetError()">Voltar</button>
   </div>
   <div class = "repeatedCnpj_error" *ngIf = 'this.error.status == 401'>
      <div class = "error_text">{{this.error.message}}</div>
      <div class = "buttons">
         <button class="back_button" (click) = "resetError()">Voltar</button>
         <button class="goLogin_button" routerLink="/login">Login</button>
      </div>
   </div>
</div>
<div class="popup" *ngIf='this.success'>
   <div class = "success_popup">
      <div class = "success_text">Cadastro realizado com sucesso</div>
      <button class="goLogin_button" routerLink="/login">Continuar</button>
   </div>
</div>