<div id="gray_screen" *ngIf="this.error"></div>

<table>
   <tr>
      <td><label>Nome do Restaurante </label></td>
      <td><input id="nome_restaurante-input" [(ngModel)]="restaurante.nome_restaurante" [disabled]="this.error"></td>
      <td><button id="registrar_restaurante" (click)="createRestaurante(restaurante)" [disabled]="this.error">Adicionar</button></td>
   </tr>
   <tr>
      <td><label>CNPJ </label></td>
      <td><input id="cnpj-input" [ngModel]="restaurante.cnpj" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cnpj, 18)" (ngModelChange) = "formatCNPJ($event)" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>CEP </label></td>
      <td><input id="cep-input" [ngModel]="restaurante.cep" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cep, 9)" (ngModelChange) = "formatCEP($event)" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Rua </label></td>
      <td><input id="rua-input" [(ngModel)]="restaurante.rua" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Número </label></td>
      <td><input id="numero-input" type="text" [(ngModel)]="restaurante.numero" (keypress) = "onlyNumbersKeyPress($event)" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Cidade </label></td>
      <td><input id="cidade-input" [(ngModel)]="restaurante.cidade" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Complemento </label></td>
      <td><input id="complemento-input" [(ngModel)]="restaurante.complemento" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Hora de Abrir </label></td>
      <td><input id="hora_inicial-input" type = "text" placeholder = "HH:mm A/PM" onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_inicio" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Hora de Fechar </label></td>
      <td><input id="hora_final-input" type = "text" placeholder = "HH:mm A/PM" onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_fim" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Nome do Responsável </label></td>
      <td><input id="nome_responsavel-input" [(ngModel)]="restaurante.nome_responsavel" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Telefone do Responsável </label></td>
      <td><input id="telefone_responsavel-input" [ngModel]="restaurante.telefone_responsavel" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.telefone_responsavel, 15)" (ngModelChange) = "formatTel($event)" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>E-mail para Contato </label></td>
      <td><input id="email-input" type = "email" [(ngModel)]="restaurante.email" [disabled]="this.error"></td>
   </tr>
   <tr>
      <td><label>Senha </label></td>
      <td><input id="senha-input" type="password" [(ngModel)]="restaurante.senha" [disabled]="this.error"></td>
   </tr>
</table>

<script>document.write(restaurante)</script>

<table>
   <tr *ngIf="restaurantes.length > 0">
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Cidade</th>
      <th>Rua</th>
      <th>Hora de Abrir</th>
      <th>Hora de Fechar</th>
   </tr>
   <tr *ngFor="let rest of restaurantes">
      <td id="rest-{{rest.cnpj}}">{{rest.nome_restaurante}}</td>
      <td>{{rest.cnpj}}</td>
      <td>{{rest.cidade}}</td>
      <td>{{rest.rua}}</td>
      <td>{{rest.horario_inicio}}</td>
      <td>{{rest.horario_fim}}</td>
   </tr>
</table>

<div id="error_popup" *ngIf='this.error'>
   <div class = "default_error" *ngIf = 'this.error.status != 401'>
      <div class = "error_text">{{this.error.message}}</div>
      <button class="back_button" (click) = "resetError()">Voltar</button>
   </div>
   <div class = "repeatedCnpj_error" *ngIf = 'this.error.status == 401'>
      <div class = "error_text">{{this.error.message}}</div>
      <div class = "buttons">
         <button class="back_button" (click) = "resetError()">Voltar</button>
         <button class="goLogin_button" routerLink="/">Login</button>
      </div>
   </div>
</div>