<div class="container-home">
  <div class="container-home-content">
    <div class="titles">
      <div class="title">
        <h1>Dizer</h1>
        <h3>Seu app de música</h3>
      </div>
      <div class="time">
        <h4>Equipe:</h4>
        <ul>
          <li>Alice</li>
          <li>Ícaro</li>
          <li>João</li>
          <li>Lucas</li>
          <li>Pedro</li>
          <li>Victor</li>
        </ul>
      </div>
    </div>
    <div class="img-logo-cinza">
      <img src="../../assets/logo-cinza.png" alt="logo-cinza do app">
    </div>
  </div>
  <div class="container-home-buttons">
    <div class="buttons">
      <button>Login</button>
      <button>Cadastrar</button>
    </div>
  </div>
</div>