.restImage {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.itemImage {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.restaurantName {
  color: #eb0029;
  font-size: 1.2rem;
  text-align: left;
}

.totalOrdered {
  color: #eb0029;
  font-size: 1.6em;
}

.mostOrdered {
  color: #eb0029;
  font-size: 1em;
}

.mostDescription {
  text-align: left;
}