html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(122, 117, 111, 0.2);
  height: 100%;
  width: 100%;
}
