.input-row{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.input-row input{
    background-image: none;
    padding-left: 24px;
}
.input-row .first-input{
    margin-left: 0; 
}

.input-row .second-input{
    margin-right: 0;
}

.input-row .description-input{
    margin-right: 0;
}

.submit-button-container{
    text-align: center;
}

.submit-button-container button{
    background-color: #F4A4A4;
    color: white;
    font-size: 1.25;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
}