a.add-link {
    background: var(--color-secondary);
    font-size: 2rem;
    width: 26rem;
    height: 6rem;
}

a.add-link:hover {
    background: var(--color-secondary-dark);
    transition: background 0.2s;
}

a img {
    width: 2.5rem;
    margin-right: 1.8rem;
}
