.IconButton {
    all: unset;
    cursor: pointer;
}

.banner {
    position: relative;
    width: 100vw;
    height: 350px;
}

.banner-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* object-fit: cover; */
    z-index: 1;
    /* display: none; */
}

.banner .banner-content {
    position: absolute;
    bottom: 20px;
    z-index: 2;

    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.banner .banner-content .Nome {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.LogoutButton {
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 8px;
    top: 12px;
    right: 12px;
    z-index: 2;
}

.MainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;

    /* border: 1px solid red; */
}