.movielist-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF5F5;
    padding: 20px;
  }
  
  .movies-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    margin-top: 20px;
  }
  