.red-outline-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 50%;
  max-width: 36rem;
  height: 2.5rem;

  position: relative;

  padding: 0;

  background: none;
  border: 1px solid #eb0029;
  border-radius: 5px;

  color: #eb0029;

  font-weight: 600;
  font-size: 1rem;
}

.red-outline-button span {
  position: absolute;
  right: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
}