.sideBar {
  position: fixed;
  top: 0px;
  right: 0px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: 260px;
  height: 100%;
}

.iconClose {
  align-self: flex-end;
  margin: 5px;
}

.iconClose svg {
  height: 30px;
  width: 30px;
  fill: #6e7491;
  cursor: pointer;
}

.iconClose svg:hover {
  fill: #585b70;
}

.iconUserCircle {
  margin-top: 25px;
  margin-bottom: 25px;
}

.iconUserCircle svg {
  height: 90px;
  width: 90px;
}

.sideBar_Option_Button {
  all: unset;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  padding: 12px 0px;
}

.sideBar_Option_Button:hover {
  background-color: #727272;
}

.sideBar_Logout_Button {
  all: unset;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  margin-top: 120px;
  padding: 13px 20px;
  background-color: #202329;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.sideBar_Logout_Button:hover {
  background-color: #101114;
}
