.orders-table-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 80%;

  padding: 2rem 1rem;

  color: #272727;

  border: 1.5px solid #cacaca;
  border-radius: 10px;
}

.orders-table-container .orders {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;

  max-height: 45vh;
  overflow-y: auto;
}

/* width */
.orders::-webkit-scrollbar {
  width: 10px;
  margin-left: 0.2rem;
}

/* Track */
.orders::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.orders::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.orders::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.orders-table-container h2 {
  margin-left: 1rem;
  margin-bottom: 1rem;
  align-self: flex-start;

  font-size: 1.5rem;
  font-weight: 600;
}

.orders-table-container .go-back-btn {
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 2rem;

  background: none;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  color: #eb0029;

  display: flex;
  align-items: center;
}

.orders-table-container .order-identifier {
  color: #272727;

  font-size: 1.25rem;
  font-weight: 400;
}

.order-identifier strong {
  font-size: 1.5rem;
  font-weight: 600;
}

.order-data .active-order-text {
  color: #eb0029;
}

.order-row span,
.order-sub-row span {
  font-size: 0.75rem;
}