.review-container{
    display: flex;
    margin-bottom: 2rem;
}


.review-container img{
    margin-right: 10px;
    width: 8rem;
    height: 7rem;
    border-radius: 5px;
}

.review-container h2{
    color: #77728D;
    font-size: 15px;

}

.review-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-text h3{
    font-size: 16px;
    color: #F4A4A4;
}

.review-text p{
    font-size: 14px;
}

.review-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review-title img{
    width: 16px;
    height: 16px;
    margin: 0 0.25rem;
}

.review-hr{
    border: 1px solid #F4A4A4;
    margin: 0;
    position: absolute;
    width: 1200px;
    left: 53px;
    top: 120px;
}

