.forms-block {
    margin: 2.5rem;
    justify-content: center;
}

.select-block label,
.input-block label,
.textarea-block label {
    font-size: 2rem;
    color: var(--color-button-text);
}

.input-block input,
.select-block select,
.textarea-block textarea{
    width: 100%;
    height: 5.6rem;
    margin-top: .8rem;
    border-radius: .8rem;
    background: var(--color-input-background);
    color: var(--color-primary-darker);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 2rem 'DM Sans';
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    min-height: 16rem;
    resize: vertical; /*pode mudar apenas o tamanho da vertical*/
}

.input-block,
.textarea-block {
    position: relative;
    margin: 1rem 0 1rem 0;
}

/* .input-block:focus-within::after,
.textarea-block:focus-within::after{ //elemento dinâmico que só aparece quando algo algo está em foco(clicado)
    content: "";

    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);
    position: absolute; // ele é relativo à posição do input-block, somente porque eu indiquei no input-block que a position é relative
    left: 1.6rem;
    bottom: 0px;
} 
*/
label{
    font-size: 1.8rem;
    padding-left: 1.2rem;
    color: var(--color-line-in-white);
}

h2 {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    color: var(--color-title-in-primary);
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.buttons-container a {
    width: 27rem;
    height: 8rem;

    border-radius: 0.8rem; /* arredonda as bordas da caixa */
    margin-right: 1.6rem;
    margin-left: 1.6rem;

    font: 700 2.4rem 'DM Sans';

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--color-button-text);
    text-decoration: none; /*tira a linha embaixo do link clicával => tem porque é uma tag a*/

    cursor: pointer;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-button-text);
}

input[type=checkbox]:checked:before {
    content: "";
    position: absolute;
    background-color: var(--color-secondary);
    background-image: url(../assets/icons/check.svg);
}

.checkbox {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    text-align: center;
}

@media (max-width: 600px) {

    .buttons-container {
        display: grid;
        margin: 1rem;
    }

    .buttons-container a {
        width: 26rem;
        height: 7.6rem;
        margin: 1rem;
    }

    .header-home {
        font-size: 2.5rem;
    }


}

/* serve para indicar que tudo que está aqui dentro somente deverá ser aplicado se a largura minima da tela for 1100px */
@media (min-width: 730px){   

    .grid-container {
        display: flex;
    }

    .buttons-container {
        justify-content: center; /*vai se comunicar com display flex do button-container antigo e vai sobreescrever o justify */
        margin: 3rem;
    }

}