.profile-wrapper {
    padding: 50px;
    width: 80%;

    .profile-header {
        margin: 30px 0 50px 0;
    
        .header-image {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
    
        .restaurant-name {
            align-self: center;
            margin-left: 30px;
        }
    }

    .header-buttons {
        display: flex;
        justify-content: space-between;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: end;
        margin-top: 40px;

        :first-child {
            margin-right: 15px;
        }
    }

    .title-label {
        margin: 20px 0 10px 0;
    }
}

.popup{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border: 2px solid #000000;
    background-color: white;
    padding: 20px 10px;
    z-index: 9;
    border-radius: 20px;
    box-shadow: 0 0 2em lightgray;
}

.popup .error_text{

    text-align: center;
    color: crimson;
    padding-top: 10%;
}

.popup .success_text{

    text-align: center;
    color:olivedrab;
    padding-top: 10%;
}

.back_button{
    background: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
}

.back_button:hover{
    background: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}

.default_error .back_button{
    position:absolute;
    left:50%;
    top:85%;
    transform: translate(-50%, -50%);
}

.success_popup .goLogin_button{
    position:absolute;
    left:50%;
    top:85%;
    transform: translate(-50%, -50%);
}

.repeatedCnpj_error .buttons{
    position:absolute;
    left:50%;
    top:85%;
    transform: translate(-50%, -50%);
}

.repeatedCnpj_error .back_button{
    margin-right: 30px;
}


