.profile-wrapper {
    padding: 50px;
    width: 80%;

    .profile-header {
        margin: 30px 0 50px 0;
    
        .header-image {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
    
        .restaurant-name {
            align-self: center;
            margin-left: 30px;
        }
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: end;
        margin-top: 40px;

        :first-child {
            margin-right: 15px;
        }
    }

    .title-label {
        margin: 20px 0 10px 0;
    }
}



