<div class="profile-wrapper">
    <button type="button" class="btn btn-outline-primary btn-sm"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar</button>
    <div class="profile-header d-flex flex-row">
        <img src="https://cdn.iconscout.com/icon/free/png-256/restaurant-1495593-1267764.png" class="header-image img-thumbnail" >
        <h2 class="restaurant-name">{{restaurantes[0].nome_restaurante}}</h2>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {{tab === 0 ? 'active':''}}" (click)="switchTab(0)" aria-current="page">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{tab === 1 ? 'active':''}}" (click)="switchTab(1)">Horários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{tab === 2 ? 'active':''}}" (click)="switchTab(2)">Pagamento</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link {{tab === 3 ? 'active':''}}" *ngIf="editMode" (click)="switchTab(3)">Responsável</a>
      </li>
    </ul>

    <form id="about">
     <div *ngIf="tab === 0">
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="nome_restaurante-input" >Nome do Restaurante</label>
          <input [disabled]="!editMode" id="nome_restaurante-input" class="form-control"  name="Nome do Restaurante" [(ngModel)]="restaurante.nome_restaurante" [disabled]="this.error" value="{{restaurante.nome_restaurante}}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCNPJ">CNPJ</label>
          <input [disabled]="!editMode"  id="inputCNPJ" class="form-control" name="CNPJ" [ngModel]="restaurante.cnpj" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cnpj, 18)" (ngModelChange) = "formatCNPJ($event)" [disabled]="this.error" value="{{restaurante.cnpj}}" required> 
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescription">Descrição</label>
        <input [disabled]="!editMode" type="text" class="form-control" id="inputDescription" name="descricao" [(ngModel)]="restaurante.descricao" placeholder="Descrição" required>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputAddress">Rua</label>
          <input id="inputAddress" [disabled]="!editMode" name="Rua" class="form-control" [(ngModel)]="restaurante.rua" [disabled]="this.error" placeholder="Rua" value="{{restaurantes[0].rua}}" required>
        </div>
        <div class="form-group col-md-1">
          <label for="inputNumber">Número</label>
          <input [disabled]="!editMode" id="inputNumber" type="text"  class="form-control"  name="Número" [(ngModel)]="restaurante.numero" (keypress) = "onlyNumbersKeyPress($event)" [disabled]="this.error" placeholder="Num" value="{{restaurantes[0].numero}}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">Cidade</label>
          <input [disabled]="!editMode" id="inputCity" name="Cidade" class="form-control" [(ngModel)]="restaurante.cidade" [disabled]="this.error" placeholder="Cidade" value="{{restaurantes[0].cidade}}" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputComplement">Complemento</label>
          <input [disabled]="!editMode" id="inputComplement" class="form-control" name="Complemento" [(ngModel)]="restaurante.complemento" [disabled]="this.error" placeholder="Complemento" value="{{restaurantes[0].complemento}}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCEP">CEP</label>
          <input [disabled]="!editMode"  id="inputCEP" name="CEP" [ngModel]="restaurante.cep" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.cep, 9)" (ngModelChange) = "formatCEP($event)" [disabled]="this.error" class="form-control" id="inputCEP" placeholder="CEP" value="{{restaurantes[0].cep}}" required>
        </div>
      </div>
    </div> 

          
      <div class="form-row col-md-6" *ngIf="tab === 1">
        <div class="form-group col-md-5">
          <label for="inputStartTime">Horário de início</label>
          <input *ngIf="editMode" [disabled]="!editMode" id="inputStartTime" type = "text" class="form-control" name="Hora de Abrir" placeholder = "HH:mm A/PM" onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_inicio" [disabled]="this.error" value="{{restaurantes.horario_inicio}}" required>
          <h2 *ngIf="!editMode"class="form-control">{{restaurantes[0].horario_inicio}}</h2>
        </div>
        <div class="form-group col-md-5">
          <label for="inputEndtTime">Horário de fim</label>
          <input *ngIf="editMode" [disabled]="!editMode" type= "text" class="form-control" id="inputEndtTime" name="Hora de Fechar" placeholder = "HH:mm A/PM" onfocus = "this.type='time'" [(ngModel)]="restaurante.horario_fim" [disabled]="this.error" required>
          <h2 *ngIf="!editMode" class="form-control">{{restaurantes[0].horario_fim}}</h2>
        </div>
      </div>

      <div *ngIf="tab === 3">
        <div class="form-row">
          <div class="form-group col-md-7" >
            <label for="nome_responsavel-input" >Nome do Responsável </label>
            <input class="form-control" id="nome_responsavel-input" name="Nome do Responsável" [(ngModel)]="restaurante.nome_responsavel" [disabled]="this.error" value="{{restaurantes[0].nome_responsavel}}">
          </div>
        </div>
      <div class="form-row">  
        <div class="form-group  col-md-7">   
           <label for="telefone_responsavel-input">Telefone do Responsável </label>
           <input class="form-control" id="telefone_responsavel-input" name="Telefone do Responsável" [ngModel]="restaurante.telefone_responsavel" (keypress) = "onlyNumbersLimitedKeyPress($event, restaurante.telefone_responsavel, 15)" (ngModelChange) = "formatTel($event)" [disabled]="this.error">
        </div>       
      </div>
      <div class="form-row">  
        <div class="form-group col-md-7">  
           <label for="email-input" >E-mail para Contato </label>
           <input class="form-control" id="email-input" type = "email" name="E-mail para Contato" [(ngModel)]="restaurante.email" [disabled]="this.error">
        </div>
      </div>
        <div class="form-group col-md-7">
  
           <label for="senha-input">Senha </label>
           <input class="form-control" id="senha-input" type="password" name="Senha" [(ngModel)]="restaurante.senha" [disabled]="this.error">
        </div>
        </div>

      


      <div class="buttons-wrapper" *ngIf="editMode">
        <button type="button" (click)="setEditMode(false)" class="btn btn-secondary">Cancelar</button>
        <button id="registrar_restaurante" class="btn btn-primary" (click)="update(restaurante)" [disabled]="this.error">Salvar</button>
      </div>
    </form>
    
    
    
    
    
    
    


    <form id="payment" *ngIf="tab === 2">
      <label class="title-label">Métodos de pagamento</label>

      <div class="form-check">
        <input [disabled]="!editMode" class="form-check-input" type="checkbox" value="" id="creditCard">
        <label class="form-check-label" for="creditCard">
          Cartão de crédito
        </label>
      </div>
      <div class="form-check">
        <input [disabled]="!editMode" class="form-check-input" type="checkbox" value="" id="debitCard">
        <label class="form-check-label" for="debitCard">
          Cartão de débito
        </label>
      </div>
      <div class="form-check">
        <input [disabled]="!editMode" class="form-check-input" type="checkbox" value="" id="pix">
        <label class="form-check-label" for="pix">
          PIX
        </label>
      </div>
      <div class="form-check">
        <input [disabled]="!editMode" class="form-check-input" type="checkbox" value="" id="cash">
        <label class="form-check-label" for="cash">
          Dinheiro
        </label>
      </div>
      <div class="form-check">
        <input [disabled]="!editMode" class="form-check-input" type="checkbox" value="" id="foodTicket">
        <label class="form-check-label" for="foodTicket">
          Ticket de alimentação
        </label>
      </div>

      <div class="buttons-wrapper" *ngIf="editMode">
        <button type="button" (click)="setEditMode(false)" class="btn btn-secondary">Cancelar</button>

      </div>
    </form>

    <div class="buttons-wrapper" *ngIf="!editMode">
      <button type="button" (click)="setEditMode(true)" class="btn btn-primary">Editar</button>
      <button type="submit" class="btn btn-danger">Apagar</button>
    </div>
</div>

<div class="popup" *ngIf='this.error'>
  <div class = "default_error" *ngIf = 'this.error.status != 401'>
     <div class = "error_text">{{this.error.message}}</div>
     <button class="back_button" (click) = "resetError()">Voltar</button>
  </div>
  <div class = "repeatedCnpj_error" *ngIf = 'this.error.status == 401'>
     <div class = "error_text">{{this.error.message}}</div>
     <div class = "buttons">
        <button class="back_button" (click) = "resetError()">Voltar</button>
        <button class="goLogin_button" routerLink="/">Login</button>
     </div>
  </div>
</div>
<div class="popup" *ngIf='this.success'>
  <div class = "success_popup">
     <div class = "success_text">Cadastro realizado com sucesso</div>
     <button class="goLogin_button" routerLink="/">Continuar</button>
  </div>
</div>



