<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav opened mode="side" fixedTopGap="70">
    <div class="sidenav-title">
      <h1>Thiaguinho Açaí</h1>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon>storefront</mat-icon>
        Página Principal
      </a>
      <a mat-list-item routerLink="payments">
        <mat-icon>payment</mat-icon>
        Pagamentos
      </a>
      <a mat-list-item routerLink="promotions">
        <mat-icon fontSet="material-icons-outlined">paid</mat-icon>
        Promoções
      </a>
    </mat-nav-list>

    <div id="sidenav-bottom-text">
      <div class="sidenav-line">
        <hr class="sidenav-hr" />
      </div>
      <div class="sidenav-text">
        <h3 class="bottom-text-item">Av. Jorn. Aníbal Fernandes, s/n</h3>
        <h3>
          Cidade Universitária, Recife - PE, 50740-560
        </h3>
        <h3>(81) 90000-0000</h3>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
