<div class="admin-container-home">
    <div class = "header">
    <div class="circle">
      <img src="../../assets/taylor.png" alt="Minha imagem">
    </div>
    <div id="container">
      <p style="font-size: 30px;">Administradora Swift</p>
    </div>
    </div>
    <ul>
      <li>Visualizar Usuários</li> <li>Visualizar Músicas</li> <li>Visualizar Playlists</li>
    </ul>
    <p class="paragrafo" style="font-size: 30px;">Últimos 7 dias...</p>

    <p class="paragrafo" style="font-size: 25px; font-weight: bold;">Últimas músicas acessadas</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Título</th>
            <th># Artista</th>
            <th># Álbum</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/evermore.jpg" alt="">
            </td>
            <td>
              <p>
                Right Where You Left Me
              </p> 
            </td>
            <td>Taylor Swift</td>
            <td>evermore (deluxe)</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/anti.jpg" alt="">
            </td>
            <td>Kiss It Better</td>
            <td>Rihanna</td>
            <td>ANTi (Deluxe)</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/calmDown.jpg" alt="">
            </td>
            <td>
              <p>
                Calm Down
              </p> 
            </td>
            <td>Rema e Selena Gomez</td>
            <td>Calm Down</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/onAndOn.jpg" alt="">
            </td>
            <td>On & On (Feat. Daniel)</td>
            <td>Cartoon</td>
            <td>On & On</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/django.png" alt="">
            </td>
            <td>
              <p>
                Default
              </p> 
            </td>
            <td>Django</td>
            <td>Django</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimos usuários acessados</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Nome</th>
            <th># E-mail</th>
            <th># Assinatura</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/usuarioSemFoto.png" alt="">
            </td>
            <td>
              <p>
                João Victor Soares
              </p> 
            </td>
            <td>jvsoaress@gmail.com</td>
            <td>Free</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/fotoPerfilVictor.jpg" alt="">
            </td>
            <td>Victor Luiz</td>
            <td>victorluizlima@gmail.com</td>
            <td>Premium</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/alicePerfil.jpg" alt="">
            </td>
            <td>
              <p>
                Alice Sales
              </p> 
            </td>
            <td>alicesaless@gmail.com</td>
            <td>Premium</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/daniellFotoPerfil.jpg" alt="">
            </td>
            <td>Romulo Daniell</td>
            <td>romuloqueirozz@gmail.com</td>
            <td>Premium</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/marceloFotoPerfil.jpg" alt="">
            </td>
            <td>
              <p>
                Marcelo Santana
              </p> 
            </td>
            <td>marcelosantana2013@gmail.com</td>
            <td>Premium</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimos artistas acessados</p>
    <div class="tableGeral">
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th># Nome</th>
            <th># Gênero</th>
            <th># Nacionalidade</th>
          </tr>
        </thead>
        <tbody>            
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/taylorPerfil.jpeg" alt="">
            </td>
            <td>
              <p>
                Taylor Swift
              </p> 
            </td>
            <td>Pop</td>
            <td>Estados Unidos</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/rihannaPerfil.png" alt="">
            </td>
            <td>Rihanna</td>
            <td>R&B</td>
            <td>Barbados</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/tameImapalaPerfil.jpg" alt="">
            </td>
            <td>
              <p>
                Tame Impala
              </p> 
            </td>
            <td>Alternativo/Indie</td>
            <td>Australia</td>
          </tr>
          <tr>
            <td class="album-capa">
              <img src="./../../assets/fosterThePeoplePerfil.png" alt="">
            </td>
            <td>Foster The People</td>
            <td>Alternativo/Indie</td>
            <td>Estados Unidos</td>
          </tr>
          <tr class="cor-diferente">
            <td class="album-capa">
              <img src="./../../assets/abelPerfil.jpeg" alt="">
            </td>
            <td>
              <p>
                The Weeknd
              </p> 
            </td>
            <td>R&B</td>
            <td>Estados Unidos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimas álbuns acessados</p> -->
</div>