<div class="admin-container-home">
  <nav>
    <body>
      <!DOCTYPE html>
      <html>
      <body>
       <div class = "header">
        <div class="circle">
          <img src="../../assets/taylor.png" alt="Minha imagem">
        </div>
        <div id="container">
          <p style="font-size: 30px;">Administradora Swift</p>
        </div>
       </div>
        <ul>
          <li>Visualizar Usuários</li> <li>Visualizar Músicas</li> <li>Visualizar Playlists</li>
        </ul>
        <p class="paragrafo" style="font-size: 30px;">Últimos 7 dias...</p>

        <p class="paragrafo" style="font-size: 25px; font-weight: bold;">Últimas músicas acessadas</p>
        <div class="tableGeral">
          
          <table>
            <thead>
              <tr>
                <th># Título</th>
                <th># Artista</th>
                <th># Álbum</th>
              </tr>
            </thead>
            <tbody>            
              <tr class="cor-diferente">
                <td>
                 <img src="./../../assets/evermore.jpg" alt="">
                  Right Where You Left Me</td>
                <td>Taylor Swift</td>
                <td>evermore (deluxe)</td>
              </tr>
              <tr>
                <td>
                  <img src="./../../assets/anti.jpg" alt="">
                  Work</td>
                <td>Rihanna</td>
                <td>ANTi (Deluxe)</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimos usuários acessados</p>

        <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimos artistas acessados</p>

        <p class="paragrafo" style="font-size: 25px; font-weight: bold;"><br>Últimas álbuns acessados</p>
      </body>
      </html>
    </body>
  </nav>
</div>