input[type=text] {
    width: 1006px;
    height: 50px;
    padding: 1rem;
    color: #77728D;
    background: #D9D9D9;
    border-radius: 10px;
    margin: 0 2rem;
    padding-right: 40px;
    background-image: url('../../../../public/assets/search-icon.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}

input[type=text]:focus {
    outline: none;
}

.search-result-container{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #FFF5F5;
    left: 210px;
    right: 80px;
    border-radius: 10px;
    padding: 12px;
    z-index: 10;
    border: 1px solid #77728D;
}
.movie-selected-from-search{
    padding: 12px;
    text-align: left;
    color:#77728D;
    border-bottom: 1px solid #77728D;
}