.payments-title {
  margin: 50px;
}
.payments-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
}

.payments-container {
  margin: 50px 30px 30px 0px;
}

.payments-table {
  width: 100%;
  padding-top: 20px;
}
.addbutton {
  margin-left: 92.9%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
