<!--<h1>Cars collection!</h1>
<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="carros" routerLink = "/cars">Carros</a>
    </div>
</nav>-->

<!--<h1>Clientes!</h1>
<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="cadastrar" routerLink = "/cadastro">Cadastro</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="login" routerLink = "/login">Login</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="gerenciar" routerLink = "/gerenciarRestaurantes">Gerenciar Restaurantes</a>
    </div>
</nav>
-->    
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<header><!--Início do cabeçalho-->
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
            <div class="container ">
                <a href="index.html" class="navbar-brand"><!--Definindo o logo-->
                        Restaurantes
                </a>
                    
                <div id="nav-principal"><!--Início Barra de navegação principal-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link" name="gerenciar" routerLink = "/gerenciarRestaurantes">Gerenciar Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" name="" routerLink = "/">Gerenciar Usuários</a>
                        </li>

                        <li class="nav-item divisor">
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" name="cars" routerLink = "/cars">Teste</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" name="" routerLink = "/">Novos Pedidos</a>
                        </li>

                        <li class="nav-item divisor">
                        </li>
                        
                        <li class="nav-item">
                            <a href="" class="nav-link">Cadastrar-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" name="" routerLink = "/">Login</a>
                        </li>
                    </ul>
                </div><!--/Fim barra de navegação principal-->
            </div>
        </nav>
    </header> 

  
        
        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f52e8a30e8.js" crossorigin="anonymous"></script>
</html>