<div class="grid-container">
    <div class="logo-container">
        <img alt="Logo" src="/assets/images/logo.svg"/>
    </div>
    <div class="image-container">
        <img alt="iFood" src="/assets/images/delivery.svg"/>
    </div>
</div>
<h2>Como você deseja entrar?</h2>
<div class="buttons-container">
    <a class="btn user-link" name="client" routerlink="/cliente">
        <img alt="user" src="/assets/icons/user.svg"/>
        Cliente
    </a>
    <a class="btn rest-link" name="restaurant" routerlink="/restaurante">
        <img alt="fork-and-knife" src="/assets/icons/rest-2.png"/>
        Restaurante
    </a>
</div>

<div class="buttons-container">
    <a class="btn adm-link" name="adm" routerlink="/adm">
        <img class="tiny-icon" alt="lock" src="/assets/icons/lock.svg"/>
        Administrador
    </a>
</div>