
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h2>Sistema de Gerenciamento de Restaurantes</h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link" routerLink = "/">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" routerLink = "/login">Login</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" routerLink="/cadastro">Cadastre um Usuario</a>
            </li>
        </ul>
    </div>
</nav>