<form *ngIf="!enviouEmail" [formGroup]="form">
    <div class="title-container">
      <h3>foMiau</h3>
      <p>Um link será enviado para o seu email para lhe ajudar a redefinir a senha.</p>
    </div>
  
    <div class="container">
      <div class="item">
        <label for="email">Insira seu e-mail</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          placeholder="nome@email.com"
          required
        />
        <div class="msg-erro">
            <span *ngIf="errouEmail">Não existe conta com esse e-mail.</span>
          </div>
      </div>
      <div class="item-button">
        <button
            class="button-medium"
            [routerLink]="'../login'"
        >
            Voltar
        </button>
        <button
            class="button-medium"
            type="submit"
            (click)="sendEmail()"
            [disabled]="!form.valid"
        >
            Entrar
        </button>
      </div>
    </div>
</form>

<div *ngIf="enviouEmail" class="box">
    <div class="title-container">
        <h3>foMiau</h3>
        <p>Um link foi enviado ao seu e-mail para lhe auxiliar a modificar sua senha.</p>
    </div>
    <div class="container">
        <div class="item-button">
          <button
              class="button-medium"
              [routerLink]="'../login'"
          >
              Continuar
          </button>
        </div>
      </div>
</div>
   