.secondary-button {
    border: 2px solid #EB0029;
    background-color: white;
    color: #EB0029;
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
}

.secondary-button:hover {
    background-color: #ededed;
    border: 2px solid #be0020;
    color: #be0020;
}