<form [formGroup]="registrationForm">
   <div class="title-container">
     <img src="assets/images/logo_80.png" alt="Logo" class="logo" />
     <h3>foMiau</h3>
   </div>

 
   <div class="container">
      <div class="item">
         <label for="name">Codigo de confirmação</label>
         <input 
         formControlName="name"
         type="text" 
         id="name" 
         name="name" 
         required
         
         >
      </div>

      

     <div class="button">
        <button
        class="button-medium"
        type="submit"
        (click)="createClient()"
        
      >
        Voltar
      </button>

       <button
         class="button-medium"
         type="submit"
         (click)="createClient()"
         
       >
         Continuar
       </button>
       
     </div>

   </div>
 </form>
 

