.Song {
    display: flex;
    height: 100%;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.Banner {
    display: flex;
    min-height: 33%;
    background-color: transparent;
    background-image:  linear-gradient( to bottom, #0d99ff, #1e60d7, #121212)
}

.Play {
    display: flex;
    min-height: 10%;
}

.Songs {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.song {
    margin-bottom: 1%;
}

.name {
    display: flex;
    align-items: center;
}

.name h1 {
    margin-right: 10px;
}

.album {
    margin: 10px;
}