.Container {
  display: flex;
  width: 100vw;
  height: 100vh;
}



.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--Gray_Dark);

  padding: 120px 36px;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
  padding: 32px 22px;
}

.FormContainer .Button-Submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.Link {
  color: var(--White);
}