.options {
    display: flex;
    flex-direction: column;
    align-content: left;
    background-color: #77728D;
    border-radius: 10px;
    color: #F4A4A4;
    gap: 10px;
    font-size: 1.2rem;
    padding-left: 40px;
    padding-right: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
    white-space: nowrap;
}

.like {
    display: flex;
}

.heartSvg {
    height: 30px;
    padding-right: 10px;
}

.like button{
    display: flex;
}

.watchlist {
    display: flex;
    flex-direction: column;
    position: relative;
}

.bookmarkSvg {
    height: 30px;
    padding-right: 10px;
}

.watchlist button{
    display: flex;
}

.feedback {
    display: flex;
}

.feedbackSvg {
    height: 30px;
    padding-right: 10px;
}

.feedback button{
    display: flex;
}

.rating {
    display: flex;
}

.starSvg {
    height: 30px;
    padding-right: 10px;
}

.dropdown-container {
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.dropdown-container button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 24px;
  color: #77728D;
  cursor: pointer;
}

.dropdown-container button:hover {
  background-color: #EEE;
}
