.WhiteButtonLogin {
    width: 178px;
    height: 41px;
    
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #EB0029;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #EB0029;
    
}

.WhiteButtonLogin_font {
    position: fixed;

}
.WhiteButtonLogin_icon {
    
    margin-left: 75%;

}