.my-account-page-container strong {
  color: #272727;

  font-size: 2rem;
  font-weight: 600;

  position: absolute;
  top: 6rem;
  left: 5rem;
}

.my-account-page-container .red-outline-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 50%;
  max-width: 36rem;
  height: 2.5rem;

  position: relative;

  padding: 0;

  background: none;
  border: 1px solid #eb0029;
  border-radius: 5px;

  color: #eb0029;

  font-weight: 600;
  font-size: 1rem;
}

.my-account-page-container .red-outline-button span {
  position: absolute;
  right: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-account-page-container .red-outline-button + .red-outline-button {
  margin-top: 1rem;
}

.my-account-page-container .red-button {
  width: 15rem;
  height: 2.5rem;

  background: #eb0029;
  border: none;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-weight: 600;
  font-size: 1rem;

  position: absolute;
  right: 5rem;
  bottom: 5rem;
}