<table>
<tr>
   <td><label>Name </label></td>
   <td><input id="what" [(ngModel)]="car.name" ></td>
   <td><button id="register-car" (click)="createCar(car)">Adicionar</button></td>
</tr>
<tr>
   <td><label>Brand </label></td>
   <td><input id="car-brand-input" [(ngModel)]="car.brand" ></td>
</tr>
<tr>
   <td><label>Price </label></td>
   <td><input id="car-price-input" type="number" [(ngModel)]="car.price" ></td>
</tr>
<tr>
   <td><label>Color </label></td>
   <td><input id="car-color-input" [(ngModel)]="car.color" ></td>
</tr>
</table>

<table>
<tr *ngIf="cars.length > 0">
   <th>Name</th>
   <th>Brand</th>
   <th>Price</th>
   <th>Color</th>
</tr>
<tr *ngFor="let car of cars">
   <td id="car-{{car.name}}-{{car.brand}}-{{car.price}}-{{car.color}}">{{car.name}}</td>
   <td>{{car.brand}}</td>
   <td>{{car.price}}</td>
   <td>{{car.color}}</td>
</tr>
</table>
