input::selection,
label::selection {
    background: var(--color-primary-lighter);
    color: var(--color-all-dark);
}

#exp-cvv {
    display: flex;
}

#exp-date {
    margin-right: 1.5rem;
}

.logo-container {
    position: relative;
    text-align: center;
    align-self: center;
    cursor: pointer;
    margin-top: 2rem;
}

.logo-container img {
    width: 50vh;
}

.buttons-container a.confirm-link {
    background: var(--color-secondary);
}

.buttons-container a.confirm-link img {
    margin-right: 2.5rem;
}

.buttons-container a.confirm-link:hover {
    background: var(--color-secondary-dark);
    transition: background 0.2s;
}

.header-home {
    font-weight: bold;
    margin: 1rem;
}