h2 {
    text-align: left;
    margin-left: 4rem;
}

a.add-link {
    background: var(--color-secondary);
    font-size: 2rem;
    width: 26rem;
    height: 6rem;
}

a.add-link:hover {
    background: var(--color-secondary-dark);
    transition: background 0.2s;
}

a img {
    width: 2.5rem;
    margin-right: 1.8rem;
}


.bar {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/* 
@media (min-width: 1000px){ 
    .bar {
        position: fixed;
        top: 0;
        left: 0;
        margin: 2rem;
    } 
} */


.add {
    justify-content: space-between;
}

.back {
    justify-content: left;
}
