<div class="bar">
  <div mat-button class="logo-container" name="home">
    <img alt="Logo" src="/assets/images/logo.svg"/>
  </div>
  <!-- <div>
    <h2>É bom te ver de volta!</h2> 
  </div>   -->
  <div class="profile">
    <div class="info">
      <label>Mileto</label>  <!-- {{name}}-->
      <span>ID#2342dc</span> <!-- ID#{{id}}-->
    </div>
    <div class="image"  name="profile">
      <img alt="Admin Profile" src="/assets/images/admin-profile.png"/> <!-- src="/assets/images/{{img}}""-->
    </div>
  </div>

</div>
<div class="container">
  <div class="buttons-container add">
    <h2 class="header-home">Lista de cupons</h2>
    <a class="add-link" alt="Botão de Adicionar Cupom" routerLink="/promotion/admin/add-coupon">
      <img alt="Ícone de soma" src="/assets/icons/plus.svg"/>
      Adicionar Cupom
    </a>
  </div>
  <app-table></app-table>
  <div class="buttons-container back">
    <a class="back-link" alt="Botão de Sair" routerLink="/home">
      <img alt="Ícone de seta para a esquerda" src="/assets/icons/arrow-left.svg"/>
      Sair
    </a>
  </div>
</div>
<!-- <app-card [dataSource]="coupons" *ngFor="let coupons of coupons" [coupons]="coupons"></app-card> -->