<p>Hey {{ name }},</p>
<p>We are pleased to inform you that your reservation request has been accepted
    
</p>
<p>Please check your CInVago account</p>


<p>If you did not request this email you can safely ignore it.</p>