.promotions-title{
    margin: 50px;
}
.promotions-title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.8rem;
    font-weight: 400;
}

.promotions-container{
    margin: 50px 30px 30px 0px;
}

.promotions-table{
    width: 100%;
    padding-top: 20px;
}
.addbutton{
    margin-left: 92.9%;
}
  