.ErrorMessage-Wrapper{
    position: absolute;
    align-self: end;
    margin: auto;
    color: var(--White);
    background-color: var(--Gray);
    width: 341px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.Error{
    display: flex;
    justify-self:center;
    margin: auto;
}
.ErrorCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: var(--Red);
    border-radius: 12px;
    margin-left: 18px;
}
.ErrorMessage{
    width: 298px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ErrorBar{
    position:absolute;
    width: 100%;
    height: 5px;
    background-color: var(--Red);
}