.buttons-container a.dark-link,
.buttons-container a.pink-link,
.buttons-container a.leaked-link {
    width: 32rem;
    height: 9rem;

    text-align: center;
    font-size: 2.5rem;
}

.buttons-container a.dark-link img,
.buttons-container a.leaked-link img {
    width: 3rem;
}

.buttons-container a.pink-link{
    padding: 0 3rem 0 3rem;
}


.buttons-container a.pink-link img {
    width: 4rem;
    margin-right: 0;
}

h2 {
    margin-bottom: 4rem;
}

.container {
    justify-self: center;
}