<app-bar></app-bar>
<div class="container">
  <h2 class="header-home" >O que você deseja fazer?</h2>
  <div class="buttons-container">
    <a mat-button class="btn pink-link" name="payment methods" (click)="toPayment()">
        <img alt="user" src="/assets/icons/credit-card.svg"/>
        Ver Métodos de Pagamento
    </a>
    <a mat-button class="btn dark-link" name="make order" (click)="toCurrentOrder()">
        <img alt="shopping cart" src="/assets/icons/shopping-cart.svg"/>
        Fazer um Pedido
    </a>
  </div>

  <div class="buttons-container">
    <a mat-button class="btn leaked-link" name="list orders" routerLink="/user/{{user.id}}/orders" >
        <img class="tiny-icon" alt="lock" src="/assets/icons/list.svg"/>
        Ver Pedidos
    </a>
  </div>
</div>

<div class="buttons-container back">
  <a class="back-link" alt="Botão de Sair" routerLink="/home">
    <img alt="Ícone de seta para a esquerda" src="/assets/icons/arrow-left.svg"/>
    Sair
  </a>
</div>

