.Gradient {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: linear-gradient(90deg, rgba(13,153,255,1) 0%, rgba(30,96,215,1) 50%);
  padding: 48px;
}

.Gradient .box {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Gradient p {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.Gradient ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: var(--White);


  margin-bottom: 12px;
}