.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #F2C94C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box-icon {
    width: 131px;
    height: 70.07px;
    margin-top: 45px;
}

.login-box-title {

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 85px;
}

.login-box {
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    height: 544px;
    display: inline-table;
    width: 573px;
}

.login-input {
    width: 444px;
    display: inline-block;

}

.login-inputText {
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}

.login-inputText-title {
    display: flex;
    width: 47px;
    height: 16px;
    left: 501px;
    top: 425px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: #202020;

}

.login-inputCheck {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-inputCheck-NoPwd {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* or 18px */

    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;

    color: #EB0029;
}
.login-inputCheck-NoPwd:hover{
    color: #EB0029;

}

.login-inputButton {
    margin-bottom: 20px;
}

.login-inputSignUpText {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.login-inputSignUpTextLabel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* or 18px */

    display: flex;
    align-items: flex-end;

    color: #424141;
}

.login-inputSignUpTextLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* or 18px */

    
    text-decoration-line: underline;

    color: #EB0029;
}

.login-inputSignUpTextLink:hover{
    color: #EB0029;
}