.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    width: 100%;
    background-color: #FFF5F5;
}


.header-hr{
    border: 1px solid #F4A4A4;
    margin: 0;
    position: absolute;
    width: 1200px;
    left: 53px;
    top: 120px;
}