.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #EEE;
    border-radius: 5px;
  }
  
  .button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .add-to-movielist-button, .like-button {
    background-color: #EEE;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .poster-container {
    height: 250px;
    width: 180px;
    border-radius: 10px;
    margin-bottom: 1.3rem;
    cursor: pointer;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5px;
    color: #77728D;
  }

  .year {
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5px;
    color: #77728D;
  }

  .dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-container button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 24px;
    color: #77728D;
    cursor: pointer;
  }
  
  .dropdown-container button:hover {
    background-color: #EEE;
  }
  