<table>
    <tr>
        <td><label>Nome </label></td>
       <td><input id="name-input" [(ngModel)]="client.name" ></td>
     </tr>
    <tr>
       <td><label>Senha1 </label></td>
       <td><input id="senha1-input" [(ngModel)]="password.um" ></td>
    </tr>
    <tr>
       <td><label>Senha2 </label></td>
       <td><input id="senha2-input" [(ngModel)]="password.dois" ></td>
    </tr>
</table>

<button id="update-password" (click)="update(client)">Enviar</button>
<p *ngIf="wrong_password">senhas diferentes</p>
   