.order-container,
.order-container > * {
  width: 100%;
}

.order-container .dropdown-toggle {
  background-color: #fff;

  border: 1.5px solid rgba(242, 201, 76, 0.42);
  border-radius: 10px;

  display: flex;
  flex-direction: row;

  align-items: center;

  width: 100%;

  padding: 1rem;
  color: #272727;
}

.order-container .dropdown-toggle .active-order-text {
  color: #eb0029;
}

.order-container .dropdown-toggle:active {
  background-color: #fff;
  color: #272727;

  border: 1.5px solid #eb0029;
}

.order-container + .order-container {
  margin-top: 0.5rem;
}

.order-container .dropdown-toggle .row {
  width: 100%;
}

.order-container .dropdown-toggle::after {
  display: none;
}

.order-container .col-1,
.order-container .col-2,
.order-container .col-3 {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
}

.order-container .col-1 {
  align-items: flex-end;
  color: #eb0029;
}