.register_password_title{
    position: relative;
    width: fit-content;
    height: 10%;
    left: 32%;
    top: 28%;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: x-large;
    line-height: 30px;
    color: #202020;
}
  
.display_password_inputs {
    display: flex;
    flex-direction: column; /* adiciona essa linha */
    justify-content: center;
    align-items: center;
    width: 45%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.register_password_input {
    width: 220px;
    height: 40px;
    background: #ECF0FB;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin: 1px 0; /* adiciona essa linha */
  }

.register_password_text{
    position: absolute;
    width: 38%;
    height: 10%;
    left: 30%;
    top: 37%;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 150% */

    text-align: center;

    color: #252525;
}

.register_password_button{
    box-sizing: border-box;

    position: absolute;
    width: 178px;
    height: 41px;
    left: 44.5%;
    top: 88%;

    background: #FFFFFF;
    border: 1px solid #EB0029;
    border-radius: 5px;
    color: #EB0029;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.register_password_button:hover{
    background: #EB0029;
    border: 1px solid #EB0029;
    border-radius: 5px;
    color: #FFFFFF;
}

.register_checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 80%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.checkbox_text{
    justify-content: left;
    font-size: 14px;
}

.clause_checkbox{
    text-decoration: underline;
}

.register_password_warning_text{
    align-items: center;
    position: absolute;
    color: #EB0029;
    font-size: 12px;
    font-weight: 400;
    left: 34%;
    top: 70%;
}
  