.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 380px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.image-card img {
    margin-bottom: 1rem;
}

.image-card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}

.image-card .location {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-right: 50px;

}

.image-card .price {
    font-size: 15px;
    text-align: right;
    padding-right: 10px;
    color: #6E7491
}

.image-card .description {
    margin-top: -1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #7C8DB0;
}