<app-logo></app-logo>
<h2 class="header-home" >Como você deseja entrar?</h2>
<div class="buttons-container">
  <a mat-button class="btn pink-link" name="user" (click)="navigateLogin('user')">
      <img alt="user" src="/assets/icons/user.svg"/>
      Cliente
  </a>
  <a mat-button class="btn dark-link" name="restaurant" (click)="navigateLogin('restaurant')">
      <img alt="fork-and-knife" src="/assets/icons/rest-2.png"/>
      Restaurante
  </a>
</div>

<div class="buttons-container">
  <a mat-button class="btn leaked-link" name="admin" (click)="navigateLogin('admin')">
      <img class="tiny-icon" alt="lock" src="/assets/icons/lock.svg"/>
      Administrador
  </a>
</div>

