
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-category-root {
    margin: 25px 70px 0px;
    .add-category-area form {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;

        input {
            border-radius: 5px;
            height: 35px;
            width: 320px;
        }

        button {
            height: 35px;
            width: 220px;
        }
    }
}

.copy-button {
background-color: transparent;
outline: none;
border: none;
}

.share-link {
color: #be0020;
}