div {
    text-align: center;
}

label {
    text-align: left;
}

input {
    width: 50%;
    position: relative;
    left: calc(27% - 10px);
}

option {
    width: 50%;
    position: relative;
    left: calc(27% - 10px);
}

select {
    width: 50%;
    position: relative;
    left: calc(27% - 10px);
    -webkit-appearance: default-button;
    -moz-appearance: menupop;
}

button {
    border: 3px solid blue;
}