.itemImage {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.numberOrdered {
  color: #eb0029;
  font-size: 1.3em;
  text-align: left;
}

.itemName {
  color: #eb0029;
  font-size: 1.5em;
}