<div class="block">
   <h2>Adicionar Novo Cupom</h2>
   <div class="forms-block">
      <div class="input-block" >
         <input placeholder="Nome/Código" id="cardNumber" [(ngModel)]="coupon.name" required>
      </div>
      <div class="status">
         <h3>Status:</h3>
         <div class="checkbox">
            <input id="status" type="checkbox" (click)="activate()">
            <label>{{status}}</label>
         </div>
      </div>
      <div class="input-block">
         <input placeholder="Desconto" type="number" max="1" [(ngModel)]="coupon.discount" required>
      </div>
      <div class="input-block">
         <input placeholder="Valor Mínimo" [(ngModel)]="coupon.minValue" required>
      </div>
      <div class="buttons-container">
         <a class="confirm-link" (click)="createCoupon(coupon)">
            <img alt="Ícone de cartão de crédito" src="/assets/images/coupon1.png"/>
            Adicionar
         </a>
         <a class="back-link" routerLink="/promotion/admin">
            <img alt="Ícone de cartão de crédito" src="/assets/icons/arrow-left.svg"/>
            Voltar
         </a>
      </div>
   </div> 
</div>