<div class="div-cont">
  <div class="div-button">
    <button type="button" class="button"mat-raised-button>
      <img class="cat" src="assets/images/cat1.png" />
      <span class="span-button">Italiana</span>
    </button>
    <button type="button" class="button"mat-raised-button>
      <img class="cat" src="assets/images/cat2.png" />
      <span class="span-button">Hambúrguer</span>
    </button>
    <button type="button" class="button"mat-raised-button>
      <img class="cat" src="assets/images/cat3.png" />
      <span class="span-button">Doces</span>
    </button>
    <button type="button" class="button"mat-raised-button>
      <img class="cat" src="assets/images/cat4.png" />
      <span class="span-button">Sushi</span>
    </button>
  </div>

  <div class="div-feed">
    <div>
      <div class="div-perfil">
        <div class="div-profile-pic">
          <img class="profile" src="assets/images/profile.png" />
        </div>
        <div class="div-infos">
          <h2>
            Sushi 10 
            <img style="width: 20px;" src="assets/images/star.png" /> 
            <img style="width: 20px;" src="assets/images/star.png" />
            <img style="width: 20px;" src="assets/images/halfStar.png" />
          </h2>
          <h4>publicado em 18 de março</h4>
        </div>
        <div class="div-price">
        <h2 style="margin: auto;">R$ 18,90</h2>
      </div>
      </div>
      <div class="div-post">
        <img class="post" src="assets/images/post.jpg" />
      </div>
    </div>
  </div>

</div>
